# --- Android Studio ---
*.iml
.idea/
.gradle/
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.navigation/

# --- Output e Build ---
/app/build
/app/release
*.apk
*.aab

# --- Kotlin/Java ---
*.class

# --- Log files ---
*.log